include ./course-preview
//- 
//- mixin bg-item()
//-   - const type = ['ball', 'line'][Math.floor(Math.random() * 2)]
//-   - const speed = -1 * Math.ceil(Math.random()*5)
//-   - const styles = [ `margin-left: ${Math.ceil(Math.random() * 99)}vw`, `margin-top: ${Math.ceil(Math.random() * 20)}vh` ]
//-   hy-course-background-ball(class=`${type} rellax` data-rellax-speed=speed style=styles.join(';'))
//- 
//- 
mixin course-overview(courses)
  hy-course-overview
    h2 Kursprogramm
    
    hy-course-background
    each coursesForDay, day in courses
      if coursesForDay.length > 0
        h3= t(`weekdays.${day}`)
        
        each course in coursesForDay
          +course-preview(course)
